bg = #f7f8f8

.main
	z-index 12
	display inline-block
	width 640px
	min-width 640px
	background bg
	+below(860px)
		margin 0 auto
		display block
	+below(670px)
		margin 0
		width 100%
		min-width 100%
