mixin menu()
	.menu
		nav
			ul
				li
					a(href='#') Личный кабинет
				li.active
					a(href='#') Платежи (активная)
				li
					a(href='#') История платежей
				li
					a(href='#') Настройки
				li
					a(href='#') Выход
